li {
    list-style: none;
}

.footer {
    margin: 30px 35px 0 35px;
}

.footer-mrg {
    margin: 0px 20px;
    border-top: 1px solid #e1e4e8!important;
    display: flex;
    justify-content: space-between;
    position: relative!important;
    padding-top: 40px!important;
    padding-bottom: 48px!important;
    font-size: 12px!important;
    
}

.footer-ul {
    display: flex;
    justify-content: space-between;
    width: 41.66%;
}

.footer-github-icon {
    color: #c6cbd1;
}

a.footer-github-icon:hover {
    color: #586069;
}

.footer-ul-li a {
    color: #0366d6;
    text-decoration: none;
}

.footer-ul-li a:hover {
    text-decoration: underline;
}