.sidebar {
    flex: 0.25;
    display: flex;
    flex-direction: column;
    padding: 0 16px;
}

.sidebar .sidebar-image {
    position: relative;
    bottom: 32px;
}

.sidebar .sidebar-image img{
    width: 270px;
    height: 270px;
    border-radius: 50%;
}

.sidebar-user-details {
    padding: 16px 0;
}

.sidebar-user-details > h1{
    display: grid;
}

.sidebar-user-details-fullname{
    font-size: 26px;
    line-height: 1.25;
    font-weight: 600;
}

.sidebar-user-details-userId {
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: 24px;
    color: #666;
}

.sidebar-user-profile-bio{
    font-size: 16px;
    margin-bottom: 16px;
}

.sidebar-edit-profile-button {
    width: 100%;
    text-align: center;
    padding: 5px 16px;
    background-color: #fafbfc;
    transition: background-color .2s cubic-bezier(.3,0,.5,1);
    line-height: 20px;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid;
    border-radius: 6px;
    border-color: rgba(27,31,35,.15);
    box-shadow: 0 1px 0 rgba(27,31,35,.04), inset 0 1px 0 hsla(0,0%,100%,.25);
}

.sidebar-follow-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
}

.sidebar-follow-button svg {
    margin-left: 8px;
    padding: 8px;
    color: #6a737d;
}

.sidebar-edit-profile-button span {
    color: #6a737d;
    font-size: 14px;
    font-weight: 600 !important;
}

.sidebar-edit-profile-button:hover {
    background-color: #edeff2;
}

.sidebar-followers-details {
    display: flex;
    align-items: center;
    margin-bottom: 16px!important;
}

.sidebar-followers-details a{
    color: #586069!important;
    margin-left: 3px;
    text-decoration: none;
    font-size: 14px;
}

.sidebar-followers-details a:hover span{
    color: #0366d6;
    text-decoration: none;
}

.sidebar-profile-li .octicon{
    margin-left: -22px;
    margin-top: 3px;
    margin-right: 3px;
    color: #6a737d;
    text-align: center;
}

.sidebar-profile-li {
    padding-left: 22px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-top: 4px;
    font-size: 14px;
    vertical-align: top;
}

.txt-gray {
    color: #24292e;
    font-weight: 600;
}





